
.main{
    display:grid;
    grid-template-columns: 250px 10fr;
}
.side-bar{
    z-index: 1;
}

.gallery {
    z-index: 1;
    grid-column-start: 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 6px;
    grid-auto-flow: dense;
    grid-auto-rows: 175px; 
}

.gallery-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; 

    background-color: rgba(214, 212, 212, 0.637);
    border-radius: 2px;
}

.gallery-image img:hover{
    cursor: pointer;
}

/* --- Modal --- */


.modal{
    z-index: 1000;
    display:flex;

    align-items:center;
    justify-content: center;

    position:fixed;

    width: 100%;
    height: 100%;

    background-color: white;

}
.modal:hover{
    cursor: pointer;
}

.modal-img{
    max-width: 50vw;
    max-height: 50vh;

}
.close{
    position: absolute;
    z-index: 1001;

    top: 250px;
    width: 100px;

    padding-bottom: 150px;
    padding-left: 50px;
}
.close:hover{
    cursor: pointer;
}

.modal-open {
    overflow:hidden;
}