

html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgb(255, 253, 250);
    font-size: 5px;
    font-family: 'Oswald', sans-serif;
    color: #1a1919;
}

.main{
    display:grid;
    grid-template-columns: 1fr 4fr;

    width: 100%;
    height: 100%;
}