

.side-bar{
    position:fixed;
    min-width: 220px;
    height: 100%;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.521);
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
}

.side-bar:hover{
    cursor: default;
}

.heading{
    font-size: 6em;
    margin-bottom: 5px;
    position: relative;

}

.heading::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #000000;
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.5s ease;
  }
  
.heading:hover::before {
    transform-origin: bottom left;
    transform: scaleX(1);
}
  


.sub-heading{
    font-size: 3.5em;
}


.menu{
    margin-top: 40px;
}
.menu a{
    color:inherit;
    text-decoration: none;
}
.menu-list{
    color: rgb(53, 51, 51);
    list-style-type: none;
    padding: 0;

    font-size: 2.8em;
}

.menu-list-item{
    padding-left: 10px;
    margin-top: 10px;
}

.menu-list-item:hover{
    color: rgba(0, 0, 0, 0.555); 
    padding-left: 3px;
    cursor: pointer;
}
